:root {
  --gray: rgba(211, 211, 211, 0.953);
  --dark: rgb(7, 8, 9);
  --xtdark: rgb(2, 2, 2);
}

.navbar, .navbar-expand-md, .navbar-dark, .bg-dark {
    color: rgb(163, 33, 33);
    background-color: var(--xtdark);
    border-bottom: .7rem solid var(--gray);

    /* border-color: rgba(0, 0, 0, 0.46); */
}

main, body, .card, .list-group-item {
    color: var(--gray);
    background-color: var(--dark);
}

.form-control {
  color: var(--dark);
  background-color: hsla(0, 0%, 95%, 0.816);
}

hr {
    border-top: .8rem solid rgba(255, 255, 255, 0.618);
}

/* h5 {
  font-size: 1.1rem;
} */