{% extends "layout.html" %}

{% block title %}
Admin -
{% endblock %}
{% block main %}
<container class="text-monospace">

    <div class="row">
        <div class="col">
            <h1 class="display-2">Admin</h1>
        </div>
    </div>

    <!-- Submenu -->
    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href='/admin#users'>Users</a>
                </li>
                <li class="list-inline-item">
                    <a href='/admin#events'>Events</a>
                </li>
                <li class="list-inline-item">
                    <a href='/admin#inventory'>Inventory</a> 
                </li>
                <li class="list-inline-item">
                    <a href='/admin#templates'>Templates</a>                   
                </li>
                <li class="list-inline-item">
                    <a href='/admin#sku'>SKU</a>                   
                </li>
            </ul>
            <hr>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col">
            <h2 class="display-4" id='users'>
                Users
            </h2>
            <p>
                <a href='/admin#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/admin#navbartop'>return to top</a>
            </p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <table class="table table-sm table-hover table-dark">
                <thead>
                    <tr>
                        <td>
                            User
                        </td>
                        <td>
                            Last Login
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.last_login }} UTC
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


    <hr>
    <br>


    <div class="row">
        <div class="col">
            <h2 class="display-4" id='events'>
                Manage Events
            </h2>
            <p>
                <a href='/admin#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/admin#navbartop'>return to top</a>
            </p>
            <br>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-12">
            
            <h4>Create New</h4>
            <div class="form-group">
                <form action="/admin/new-event" method="post">            
                    <!-- Name -->
                    <div class="form-group">
                        <!-- <label for="name"></label> -->
                        <input type="text" placeholder="Event Name" class="form-control" name="name" id="name">            
                        <!-- <small id="" class="form-text text-muted">
                            Creates a new empty event.
                        </small> -->                    
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Make Event</button>
                    <br>
                </form>
            </div>
            <br>

            <h4>Delete Event</h4>
            <form action="/admin/delete-event" method="post">
                <!-- Name -->
                <div class="form-group">
                    <!-- <label for="cycle-id"></label> -->
                    <select class="form-control" name="cycle-id" id="cycle-id">
                        {% for cycle in cycles %}
                        <option title="Created on: {{ cycle.created_on }}" value="{{ cycle.id }}">#{{ cycle.id }} {{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Delete event and all associated projections?')">Delete</button>
            </form>
            <br>
        </div>


        <div class="col-lg-5 col-md-12 col-sm-12">
            <h4>Import Projections<h4>
                <form method="POST" action="/admin/import-event" enctype="multipart/form-data">                
                <div class="form-group">
                    <!-- <label for="event"></label> -->
                    <select class="form-control" name="event" id="event">
                        {% for cycle in cycles %}
                        <option title="Created on: {{ cycle.created_on }}" value="{{ cycle.id }}">{{ cycle.name }}</option>
                        {% endfor %}    
                    </select>
                    <small class="form-text text-muted">
                        <small class="form-text text-muted">
                            <small class="form-text text-muted">
                                Replaces Event's projections using .csv export column C SKUs
                            </small>
                        </small>
                    </small>
                </div>
                
                <div class="form-group">
                    <input class="form-control" type="file" name="inputfile" id="inputfile" accept=".csv">
                    <small class="form-text text-muted">
                        <small class="form-text text-muted">
                            <small class="form-text text-muted">
                                Does not change active event. Do so from <a href="/projections">Projections</a>
                            </small>
                        </small>
                    </small>
                </div>
                
                <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Add projections to event?')">
                    Import File
                </button>
                <br>
                
            </form>
            <br>
        </div>


        <div class="col-lg-4 col-md-12 col-sm-12">
            <h4>Backup Projections</h4>
            <form action="/admin/backup-projections" method="post">
                <div class="form-group">
                    <!-- <label for="backup-projections"></label> -->
                    <select class="form-control" name="backup-projections" id="backup-projections">
                        {% for cycle in cycles %}
                            <option title="Created on: {{ cycle.created_on }}" value="{{ cycle.id }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text text-muted">
                        Download .csv of current event projections
                    </small>
                </div>
                <button type="submit" title="" class="btn btn-primary btn-sm">Download</button>

            </form>
            <br>
        </div>
        
        <br>
    </div>
        
    <hr>
    <br>

    <div class="row">
        <div class="col">
            <h2 class="display-4" id='inventory'>
                Inventory
            </h2>
            <p>
                <a href='/admin#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/admin#navbartop'>return to top</a>
            </p>
            <br>
        </div>
    </div>
    
    <div class="row">        
        <div class="col-lg-5 col-md-12 col-sm-12">
            <h4>
                Import Inventory
            </h4>

            <form method="POST" action="/admin/import-inventory" enctype="multipart/form-data">
                
                <div class="form-group">
                    <!-- <label for="type"></label> -->
                    <select class="form-control" name="type" id="type">
                        <option title="Select Type" disabled selected value="">Select Type</option>
                        <option title="items" value="items">Items</option>
                        <option title="parts" value="parts">Parts</option>
                    </select>
                </div>    
                
                <div class="form-group">
                    <input class="form-control" type="file" name="inputfile" id="inputfile" accept=".csv">
                    <small class="form-text text-muted">
                        Overwrites current inventory counts using inventory backup .csv
                    </small>
                </div>
                
                <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Overwrite inventory?')">Import File</button>
                <br>
            </form>
            <br>
        </div>
        <br>

        <div class="col-lg-4 col-md-6 col-sm-12">
            <h4>
                Backup Inventory
            </h4>
            
            <form method="POST" action="/admin/backup-inventory">
                <div class="form-group">
                    <!-- <label for="type"></label> -->
                    <select class="form-control" name="type" id="type">
                        <option title="Select Type" disabled selected value="">Select Type</option>
                        <option title="items" value="items">Items</option>
                        <option title="parts" value="parts">Parts</option>
                    </select>
                    <small class="form-text text-muted">
                        Export current inventory counts as .csv
                    </small>
                </div>    
                <button type="submit" class="btn btn-primary btn-sm">Download Inventory</button>
                <!-- <small class="form-text text-muted">
                </small> -->
            </form>
            <br>
        </div>
        
        <!-- <div class="col-lg-3 col-md-6 col-sm-12">
            <h4>
                -
            </h4>
        </div> -->

        <div class="col-lg-3 col-md-6 col-sm-12">
            <form action="/admin/wipe" method="post">
                <h4>
                    Wipe Inventory
                </h4>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-items" id="wipe-items" value="true">
                    <label class="form-check-label" for="wipe-items">Items</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-parts" id="wipe-parts" value="true">
                    <label class="form-check-label" for="wipe-parts">Parts</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-boxes" id="wipe-boxes" value="true">
                    <label class="form-check-label" for="wipe-boxes">Boxes</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-usedboxes" id="wipe-usedboxes" value="true">
                    <label class="form-check-label" for="wipe-usedboxes">Used Boxes</label>
                </div>

                {% for cycle in cycles %}
                    {% if cycle.current %}
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" name="wipe-projections" id="wipe-projections" value="true">
                            <label class="form-check-label" for="wipe-projections">Projections for "{{ cycle.name }}"</label>
                        </div>
                    {% else %}
                    {% endif %}
                {% endfor %}
                
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Wipe</button>
            </form>
            
            <br>
        </div>
        
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col">
            <h2 class="display-4" id='templates'>
                Templates
            </h2>
            <p>
                <a href='/admin#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/admin#navbartop'>return to top</a>
            </p>
            <br>
        </div>
    </div>
    
    <div class="row">        
        
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>
                Loterias
            </h4>

            <form action="/admin/download-loterias" method="post">
                <button type="submit" class="btn btn-primary btn-sm">Download Current</button>
                <small class="form-text text-muted">
                    Download active template for reference or additions.
                </small>
            </form>

            <br>

            <form method="POST" action="/admin/setup-loterias" enctype="multipart/form-data">
                
                <div class="form-group">
                    <input class="form-control" type="file" name="inputfile" id="inputfile" accept=".csv">
                    <small class="form-text text-muted">
                        Upload new loterias template. Do not modify without database edits; only add new items.
                    </small>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Update loterias db table with this file?')">Upload New</button>
            </form>
            <br>
            
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <form action="/admin/setup-tables" method="post">
                <h4>
                    Setup Database
                </h4>

                <!-- <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="colors" id="colors" value="true">
                    <label class="form-check-label" for="colors">Colors</label>
                </div> -->
                                
                <button type="submit" disabled class="btn btn-danger btn-sm btn-block" onclick="return confirm('Are you sure?')">Recreate Tables</button>
            </form>
            
            <br>
        </div>
        
        <!-- <div class="col-lg-3 col-md-6 col-sm-12">
            <h4>
                -
            </h4>
        </div> -->

        <div class="col-lg-3 col-md-6 col-sm-12">            
            <br>
        </div>
        
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col">
            <h2 class="display-4" id='sku'>SKUs</h2>
            <p>
                <a href='/admin#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/admin#navbartop'>return to top</a>
            </p>
            <br>
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <h4>Make SKU</h4>
            
            <form class="form-group" action="/admin/make-sku" method="post">
                
                <div class="form-row">
                    <label class="col-4" for="nombre">Nombre</label>
                    <select class="col-8 form-control" name="nombre" id="nombre">
                        <!-- <option title="">Select Event</option> -->
                        {% for loteria in templates.loterias %}
                        <option title="" value="{{ loteria.sku }}">{{ loteria.sku }} - {{ loteria.nombre }}</option>
                        {% endfor %}    
                    </select>
                </div>    

                <br>

                <div class="form-row">
                    <label class="col-4" for="a">Color A</label>
                    <select class="col-8 form-control" name="a" id="a">
                        {% for color in templates.colors %}
                            <option title="" value="{{ color.sku }}">{{ color.sku }} - {{ color.emoji }} {{ color.name }}</option>
                        {% endfor %}    
                    </select>
                </div>    
                
                <br>

                <div class="form-row">
                    <label class="col-4" for="b">Color B</label>
                    <select class="col-8 form-control" name="b" id="b">
                        {% for color in templates.colors %}
                            <option title="" value="{{ color.sku }}">{{ color.sku }} - {{ color.emoji }} {{ color.name }}</option>
                        {% endfor %}    
                    </select>
                </div>    

                <br>

                <div class="form-row">
                    <label class="col-4" for="c">Color C</label>
                    <select class="col-8 form-control" name="c" id="c">
                        <option selected title="Defaults to 00" value="00">none</option>
                        {% for color in templates.colors %}
                        <option title="" value="{{ color.sku }}">{{ color.sku }} - {{ color.emoji }} {{ color.name }}</option>
                        {% endfor %}    
                    </select>
                </div>    

                <br>

                <!-- <div class="form-row">
                    <label class="col-4" for="d">Color D</label>
                    <select class="col-8 form-control" name="d" id="d">
                        <option selected title="Defaults to 00" value="00">none</option>
                        {% for color in colors %}
                            <option title="" value="{{ color.sku }}">{{ color.emoji }} {{ color.name }}</option>
                        {% endfor %}    
                    </select>
                </div>     -->

                <!-- <br> -->

                <div class="form-row">
                    <label class="col-4" for="size">Size</label>
                    <select class="col-8 form-control" name="size" id="size">
                        {% for size in templates.sizes %}
                        <option title="" value="{{ size.sku }}">{{ size.sku }} - {{ size.longname }}</option>
                        {% endfor %}    
                    </select>
                </div>

                <br>

                <button type="submit" class="btn btn-primary btn-block">Generate SKU</button>

            </form>
        </div>

        <div class="col-md-6 col-sm-12">
            <h4>SKU Interpreter</h4>
            <form action="/admin/parse-sku" method="post">
                <input class="form-control" type="number" value="" min="010000000000" max="999999999999" id="sku" name="sku" autocomplete="on">
                <!-- <label for="sku">Parse number into SKU object</label> -->
                <div class="form-group">
                    <small>Describes item using SKU input</small>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Return Description</button>
            </form>

            <br>

            <p>12 digits, comprised of 6 pairs</p>
            <ul>
                <li>
                    XX __ __ __ __ __ = item
                </li>
                <li>
                    __ XX XX XX __ __ = colors
                </li>
                <li>
                    __ __ __ __ 00 __ = unused
                </li>
                <li>
                    __ __ __ __ __ XX = size
                </li>
            </ul>

        </div>
        <br>
    </div>
    <br>
    
    
    <div class="row justify-content-around">

        <div class="col">
            <h4>SKU example</h4>
            <img class="img-fluid text-center" alt="SKU setup explained"  src="/static/skuexample.png">
        </div>

    </div>

    <hr>

</container>
{% endblock %}
