{% extends "layout.html" %}

{% block title %}
Admin
{% endblock %}
{% block main %}
<container class="text-monospace">

    <div class="row" id="top">
        <div class="col">
            <h1>Admin</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Quick Navigation: 
                <a href='/admin#events'>Events</a> |
                <a href='/admin#database'>Database</a> |
                <a href='/admin#sku'>SKU</a>
            </p>
            <hr>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <h2 id='events'>Manage Events</h2>        
            <p>
                <a href='/admin#top'>return to top</a>
            </p>
        </div>
    </div>

    <br>

    <div class="row"> 
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h5>Create New Empty Event</h5>
            <div class="form-group">
                <form action="/admin/new-event" method="post">            
                    <!-- Name -->
                    <div class="form-group">
                        <!-- <label for="name"></label> -->
                        <input type="text" placeholder="Event Name" class="form-control" name="name" id="name">            
                        <!-- <small id="" class="form-text text-muted">
                            Creates a new empty event.
                        </small> -->                    
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Make Event</button>
                </div>
            </form>
        </div>    

        <div class="col-lg-4 col-md-6 col-sm-12">
            <h5>Delete Event</h5>
            <form action="/admin/delete-event" method="post">
                <!-- Name -->
                <div class="form-group">
                    <!-- <label for="delname"></label> -->
                    <select class="form-control" name="delname" id="delname">
                        {% for cycle in cycles %}
                        <option title="Created on: {{ cycle.created_on }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Delete event and all contents?')">Delete</button>
            </form>
        </div>
    </div>
    
    <br>
    <br>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h5>Import Event Data <p><small>(in testing)</small></p><h5>
            <form method="POST" action="/admin/import-event" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <!-- <label for="event"></label> -->
                        <select class="form-control" name="event" id="event">
                            <option title="Overrides all event data with import file">Select Event</option>
                            {% for cycle in cycles %}
                            <option title="Created on: {{ cycle.created_on }}" value="{{ cycle.id }}">{{ cycle.name }}</option>
                            {% endfor %}    
                        </select>
                    </div>    
                    
                    <div class="form-group">
                        <input type="file" name="inputfile" id="inputfile" accept=".csv">
                        <!-- <small id="inputfile" class="form-text text-muted">
                            Uploads projections template
                        </small>     -->    
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Overwrite event with file data?')">Upload File</button>
                    
                    <!-- <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="inputfile" accept=".csv" id="inputfile" aria-describedby="inputGroupFileAddon04">
                            <label class="custom-file-label" for="inputfile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Import</button>
                        </div>
                    </div>
                -->
                
            </form>    
        </div>
    </div>

<br>
<br>

<div class="row">        
    <div class="col-lg-4 col-md-6 col-sm-12">
        <h5>Backup Projections</h5>
        <form action="/admin/backup-projections" method="post">
            <div class="form-group">
                <!-- <label for="backup-projections"></label> -->
                <select class="form-control" name="backup-projections" id="backup-projections">
                    {% for cycle in cycles %}
                    <option title="Created on: {{ cycle.created_on }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" title="TODO" class="btn btn-primary btn-sm" disabled>Download</button>
            </form>
        </div>
    </div>
        
    <br>
        
    <hr>

    <div class="row">
        <div class="col">
            <h2 id='database'>
                Database
            </h2>
            <p>
                <a href='/admin#top'>return to top</a>
            </p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <form action="/admin/setup" method="post">
                <h5>
                    Wipe Inventory
                </h5>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-items" id="wipe-items" value="true">
                    <label class="form-check-label" for="wipe-items">Items</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-parts" id="wipe-parts" value="true">
                    <label class="form-check-label" for="wipe-parts">Parts</label>
                </div>
                
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-boxes" id="wipe-boxes" value="true">
                    <label class="form-check-label" for="wipe-boxes">Boxes</label>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-usedboxes" id="wipe-usedboxes" value="true">
                    <label class="form-check-label" for="wipe-usedboxes">Used Boxes</label>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="wipe-projections" id="wipe-projections" value="true">
                    <label class="form-check-label" for="wipe-projections">Projections (current event)</label>
                </div>

                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">Wipe</button>
            </form>
        </div>

        <div class="col">
            <h5>
                Update Loterias
            </h5>

            <form method="POST" action="/admin/setup-loterias" enctype="multipart/form-data">
                                    
                <div class="form-group">
                    <input type="file" name="inputfile" id="inputfile" accept=".csv">
                    <!-- <small id="inputfile" class="form-text text-muted">
                        text
                    </small>     -->    
                </div>
                
                <button type="submit" class="btn btn-primary btn-sm" onclick="return confirm('Update loterias db table with this file?')">Upload File</button>
                
                <!-- <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="inputfile" accept=".csv" id="inputfile" aria-describedby="inputGroupFileAddon04">
                        <label class="custom-file-label" for="inputfile">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Import</button>
                    </div>
                </div>
            -->
            
            </form>    
        </div>



    </div>

    <br>
    <hr>

    <div class="row">
        <div class="col">
            <h2 id='sku'>SKUs</h2>        
            <p>
                <a href='/admin#top'>return to top</a>
            </p>
 
            <div class="row">        
                <div class="col">
                    <h5>Test SKU parser</h5>
                </div>
            </div>
            <div class="row">        
                <div class="col">
                    <form action="/test" method="post">
                        <input type="number" value="123456789012" id="sku" name="sku" autocomplete="on">
                        <label for="sku">Parse number into SKU object</label>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-sm">Test</button>
                        </div>
                    </form>
                </div>
            </div>
        
            <img src="/static/skuexample.png">
        </div>
    </div>


    <br>

    
    <div class="row">
        <div class="col">
            <a href="/admin/convert"><button class="btn btn-primary">convert hearts</button></a>
        </div>
    </div>


    <!-- 
    <div class="row">
        <div class="col">
            <a href="/admin/setup-tables"><button class="btn btn-primary">Setup Tables ☢</button></a>
        </div>
    </div> -->

</container>
{% endblock %}
