{% extends "layout.html" %}

{% block title %}
Admin
{% endblock %}
{% block main %}
<container class="text-monospace">

    <div class="row">
        <div class="col">
            <h1>Admin</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                <a href='/admin#events'>Events</a> |
                <a href='/admin#database'>Database</a>
            </p>
        </div>
    </div>


    <hr>

    <div class="row">
        <div class="col">
            <h2 id='events'>Manage Events</h2>        
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <h4>Create New Empty Event</h4>
        </div>    
    </div>    

    <div class="row">        
        <div class="col">
            <div class="form-group">
                <form action="/admin/new-event" method="post">            
                    <!-- Name -->
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">            
                        <button type="submit" class="btn btn-primary btn-sm">Make Event</button>
                        <!-- <small id="" class="form-text text-muted">
                            Creates a new empty event.
                        </small> -->                    
                    </div>
                </div>
            </form>
        </div>    
    </div>

    <br>

    <div class="row">
        <div class="col">
            <h4>Import Event Data</h4>
        </div>    
    </div>    
    <div class="row">  
        <div class="col">
            <form method="POST" action="/admin/import-event" enctype="multipart/form-data">

                
                <div class="form-group">
                    <input type="file" name="inputfile" id="inputfile" accept=".csv">
                    <!-- <small id="inputfile" class="form-text text-muted">
                        Uploads projections template
                    </small>     -->
                </div>
                
                <div class="form-group">
                    <label for="event"></label>
                    <select name="event" id="event">
                        <option title="Overrides all event data with import file">Select Event</option>
                        {% for cycle in cycles %}
                            <option title="Created on: {{ cycle.created_on }}" value="{{ cycle.id }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-sm">Upload File</button>
                </div>

            </form>
        </div>    
    </div>

    <br>

    <div class="row">        
        <div class="col">
            <h4>Delete Event</h4>
        </div>
    </div>
    <div class="row">        
        <div class="col">
            <form action="/admin/delete-event" method="post">
                <!-- Name -->
                <div class="form-group">
                    <label for="delname"></label>
                    <select name="delname" id="delname">
                        {% for cycle in cycles %}
                            <option title="Created on: {{ cycle.created_on }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </div>
            </form>
        </div>
    </div>
    
    <br>

    <div class="row">        
        <div class="col">
            <h4>Chomp Squaredata</h4>
        </div>
    </div>
    <div class="row">        
        <div class="col">
            <form action="/admin/parse-squaredata" method="post">
                <!-- Name -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Do it.</button>
                </div>
            </form>
        </div>
    </div>
    
    <br>

    <hr>

    <hr>
    <div class="row">
        <div class="col">
            <h2 id='database'>
                SQL Table Reconfigurations
            </h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/setup-tables"><button class="btn btn-primary">Setup Tables ☢</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/setup-loterias"><button class="btn btn-primary">Setup Loterias ☢</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/wipe-items"><button class="btn btn-primary">Wipe Items Inventory ☢</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/wipe-parts"><button class="btn btn-primary">Wipe Parts Inventory ☢</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/wipe-boxes"><button class="btn btn-primary">Wipe Box Inventory ☢</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/wipe-usedboxes"><button class="btn btn-primary">Wipe Used Box Inventory ☢</button></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <a href="/admin/wipe-projections"><button class="btn btn-primary">Wipe Projections ☢</button></a>
        </div>
    </div>


    <!-- <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Default checkbox
        </label>
    </div> -->
    <br>
</container>
{% endblock %}
