{% extends "layout.html" %}

{% block title %}
Cycles
{% endblock %}
{% block main %}
<container class="text-monospace">
    <div class="row">
        <div class="col">
            <h1>Make a New Cycle</h1>
        </div>
    </div>    
    <hr>
    <div class="row">
        <!-- Produce New Item -->
        <div class="col-lg-6 col-md-12">
            <h2>Cycle Information</h2>
            <form action="/cycle" method="post">

                <!-- Name -->
                <div class="form-group">
                    <label for="name">Cycle Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <button type="reset" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-primary">Make New Cycle and Compute Projections</button>
            </form>
        </div>
    </div>
</container>
{% endblock %}
