{% extends "layout.html" %}

{% block title %}
Error
{% endblock %}
{% block main %}
<h1>Error {{ errcode }}</h1>

<h2>Parsed</h2>

<table>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>sku</th>
        <th>inventory_quantity</th>
    </tr>
    {% for product in errmsg %}            
        <tr>
            {% for item in product %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}

</table>


<hr>


<h2>Raw</h2>
<code>{{ errmsg }}</code>



{% endblock %}