{% extends "layout.html" %}

{% block title %}
Dashboard
{% endblock %}
{% block main %}
<container>
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <img src="/static/bsl.png" class="img-fluid" alt="big scary laser">
            </div>
        </div>
        <div class="col">
            <h2>Hello, {{ user[0]['username'] }}</h2>
            <h5>cycle #{{ cycle.0.id }} "{{ cycle.0.name }}"</h5>
            <h6>rendered at {{ time }}</h6>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <h2>Laser Queue Totals</h2>
            </div>
            <table class="table-responsive-sm table-bordered table-hover table-dark">
                <thead>
                    <tr>
                        <small>
                            <th scope="col" style="width: 10vw"><h6>⚡</h6></th>
                            {% for color in colors %}
                                <th scope="col" style="width: 10vw">{{ color }}</th>
                            {% endfor %}
                            <th scope="col" style="width: 10vw">backs</th>
                            <th scope="col" style="width: 10vw">boxes</th>
                        </small>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ sizes.0 }}</th>
                        <td>{{ totals.0.0 }}</td>
                        <td>{{ totals.0.1 }}</td>
                        <td>{{ totals.0.2 }}</td>
                        <td>{{ totals.0.3 }}</td>
                        <td>{{ totals.0.4 }}</td>
                        <td>{{ totals.0.5 }}</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ sizes.1 }}</th>
                        <td>{{ totals.1.0 }}</td>
                        <td>{{ totals.1.1 }}</td>
                        <td>{{ totals.1.2 }}</td>
                        <td>{{ totals.1.3 }}</td>
                        <td>{{ totals.1.4 }}</td>
                        <td>{{ totals.1.5 }}</td>
                        <td>#</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ sizes.2 }}</th>
                        <td>{{ totals.2.0 }}</td>
                        <td>{{ totals.2.1 }}</td>
                        <td>{{ totals.2.2 }}</td>
                        <td>{{ totals.2.3 }}</td>
                        <td>{{ totals.2.4 }}</td>
                        <td>{{ totals.2.5 }}</td>
                        <td>#</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
    <hr>





    <!-- Headings -->
    <div class="row justify-content-center">
        <h2></h2>
    </div>

    <!-- Forms -->
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- Make Part -->
            <form action="/" method="post">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h3>Make Part</h3>
                            <!-- <label for="part">part</label> -->
                            <select name="part" id="part">
                                {% for loteria in loterias %}
                                    {% for part in loterias[loteria] %}
                                        <option value="{{ part }}">{{ part }}</option>
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Color -->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h4>Color</h4>
                            {% for color in colors %}
                            <div class="custom-control custom-radio">
                                <input type="radio" id="{{ color }}" name="color" value="{{ color }}">
                                <label for="{{ color }}">{{ color }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <!-- Size -->
                        <div class="form-group">
                            <h4>Size</h4>
                            <!-- <label for="size">Size</label> -->
                            {% for size in sizes %}
                            <div class="custom-control custom-radio">
                                <input type="radio" id="{{ size }}" name="size" value="{{ size }}">
                                <label for="{{ size }}">{{ size }}</label>        
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Quantity -->
                    <div class="col">
                        <div class="form-group">
                            <h4>Quantity</h4>
                            <input type="number" value="1" min="-999" max="999" step="1" name="qty" id="qty">
                            <!-- Submit -->
                            <button type="reset" class="btn btn-primary">Reset</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-sm-12">
            <!-- Make Box -->
            <form action="/box" method="post">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <h3>Make Box</h3>
                            <!-- <label for="box">part</label> -->
                            <select name="box" id="box">
                                {% for loteria in loterias %}
                                    <option value="{{ loteria }}">{{ loterias[loteria].0 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Quantity -->
                    <div class="col">
                        <div class="form-group">
                            <h4>Quantity</h4>
                            <input type="number" value="1" min="-999" max="999" step="1" name="boxqty" id="boxqty">
                            <!-- Submit -->
                            <button type="reset" class="btn btn-primary">Reset</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <!-- Queue -->
    <div class="row">
        <!-- Parts -->
        <div class="col-md-6 col-sm-12">
            <h3>Parts Laser Queue</h3>
            <table class="table table-dark table-hover">
                {% for part in production %}
                <tr>
                    <td>{{ part.name }}</td>
                    <td> | </td>
                    <td>{{ part.size }}</td>
                    <td> | </td>
                    <td>{{ part.color }}</td>
                    <td> | </td>
                    <td>{{ part.qty }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Boxes -->
        <div class="col-md-6 col-sm-12">
            <h3>Box Laser Queue</h3>
            <table class="table table-dark table-hover">
                {% for box in boxes %}
                {% if box.qty_prod is not none %}
                <tr>
                    <td>{{ box.name }}</td>
                    <td></td>
                    <td></td>
                    <td>|</td>
                    <td></td>
                    <td></td>
                    <td>{{ box.qty_prod }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <!-- Parts on Hand -->
        <div class="col-md-6 col-sm-12">
            <h2>Parts on Hand</h2>
            <table class="table table-dark table-hover">
                {% for part in parts %}
                <tr>
                    <td>{{ part.name }}</td>
                    <td>|</td>
                    <td>{{ part.size }}</td>
                    <td>|</td>
                    <td>{{ part.color }}</td>
                    <td>|</td>
                    <td>{{ part.qty }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Boxes on Hand -->
        <div class="col-md-6 col-sm-12">
            <h3>Box Inventory</h3>
            <table class="table table-dark table-hover">
                {% for box in boxes %}
                {% if box.qty_onhand is not none %}
                <tr>
                    <td>{{ box.name }}</td>
                    <td></td>
                    <td></td>
                    <td>|</td>
                    <td></td>
                    <td></td>
                    <td>{{ box.qty_onhand }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</container>
{% endblock %}