{% extends "layout.html" %}

{% block title %}
Items
{% endblock %}
{% block main %}
<container class="text-monospace">
    <div class="row">
        <div class="col">
            <h1>Items</h1>
        </div>
    </div>    
    <hr>

<!-- NEW -->
    <!-- Add Item to Projections -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col">
                    <h2>Add Projected Item</h2>
                </div>
            </div>
            <form action="/items" method="post">
                <div class="row">

                    <!-- Item -->
                    <div class="col-6">
                        <div class="form-group">
                            <label for="item">Item</label>
                            <select name="item" id="item">
                                {% for loteria in loterias %}
                                    <option value="{{ loteria.nombre }}">{{ loteria.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>    
                    </div>

                    <!-- Size -->
                    <div class="col-6">
                        <div class="form-group">
                        <label for="size">Size</label>
                        {% for size in sizes %}
                            <input type="radio" id="{{ size }}" name="size" value="{{ size }}">
                            <label for="{{ size }}">{{ size }}</label>
                        {% endfor %}
                        </div>
                    </div>

                </div>

                <!-- Colors -->
                <div class="row">

                    <!-- Color A -->
                    <div class="col-sm">
                        <h6>Color A</h6>
                        <div class="form-group">
                            {% for color in colors %}
                                <div class=" justify-content-center">
                                    <input type="radio" id="{{ color }}a" name="Color A" value="{{ color }}">
                                    <label for="{{ color }}a">{{ color }}</label>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Color B -->
                    <div class="col-sm">
                        <h6>Color B</h6>
                        <div class="form-group">
                            {% for color in colors %}
                                <div class=" justify-content-center">
                                    <input type="radio" id="{{ color }}b" name="Color B" value="{{ color }}">
                                    <label for="{{ color }}b">{{ color }}</label>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Color C -->
                    <div class="col-sm">
                        <h6>Color C</h6>
                        <div class="form-group">
                            {% for color in colors %}
                                <div class=" justify-content-center">
                                    <input type="radio" id="{{ color }}c" name="Color C" value="{{ color }}">
                                    <label for="{{ color }}c">{{ color }}</label>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Final Buttons -->
                <div class="row">

                    <!-- Quantity -->
                    <div clas="col">
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input type="number" value="1" min="-999" max="999" step="1" name="qty" id="qty">
                        </div>
                    </div>

                    <!-- Reset -->
                    <div class="col">
                        <button type="reset" class="btn btn-primary">Reset</button>                        
                    </div>

                    <!-- Submit -->
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>                            
                    </div>

                </div>                            

            </form>
        </div>


        <hr>

        <!-- View Inventory -->
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <h2>On Hand</h2>
                {% for item in items %}
                    <p>{{ item }}</p>
                {% endfor %}
            </div>
        </div>
        <hr>
    </div>
</container>
{% endblock %}
