{% extends "layout.html" %}

{% block title %}
Items
{% endblock %}
{% block main %}
<container class="text-monospace">
    <div class="row">
        <div class="col">
            <h1 class="display-2">Items</h1>
        </div>
    </div>

    <hr>

    <!-- Add Item to Items Inventory -->
    <div class="row">
        <div class="col">

            <form action="/items" method="post">
                <div class="row">
                    <div class="col">
                        <br>
                        <h2>Add Assembled Item</h2>
                    </div>
                </div>

                <div class="row">
                    <!-- Item -->
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="item">Item</label>
                            <select class="form-control" name="item" id="item">
                                <optgroup label="2 colors">
                                    {% for loteria in templates.loterias %}
                                        {% if not loteria.c %}
                                            {% if recent.item == loteria.nombre %}
                                                <option value="{{ loteria['nombre'] }}" title="" selected>{{ loteria['nombre'] }}</option>
                                            {% else %}
                                                <option value="{{ loteria['nombre'] }}" title="">{{ loteria['nombre'] }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>

                                <optgroup label="3 colors">
                                    {% for loteria in templates.loterias %}
                                        {% if loteria.c %}
                                            {% if recent.item == loteria.nombre %}
                                                <option value="{{ loteria['nombre'] }}" selected>{{ loteria['nombre'] }}</option>
                                            {% else %}
                                                <option value="{{ loteria['nombre'] }}">{{ loteria['nombre'] }}</option>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </div>    
                    </div>
                </div>

                <!-- Colors -->
                <div class="row">

                    <!-- Color A -->
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <h6 id="colorA">Color A</h6>
                            {% for color in templates.colors %}
                                {% if color.sku <= 7 %}
                                    {% if recent.a == color.name %}
                                        <div class="custom-control custom-radio">
                                            <input class="form-check-input" type="radio" id="{{ color.name }}a" name="color_a" value="{{ color.name }}" checked="checked">
                                            <label for="{{ color.name }}a">{{ color.emoji }} {{ color.name }}</label>
                                        </div>
                                    {% else %}
                                        <div class="custom-control custom-radio">
                                            <input class="form-check-input" type="radio" id="{{ color.name }}a" name="color_a" value="{{ color.name }}">
                                            <label for="{{ color.name }}a">{{ color.emoji }} {{ color.name }}</label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Color B -->
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <h6 id="colorB">Color B</h6>
                            {% for color in templates.colors %}
                                {% if color.sku <= 7 %}
                                    {% if recent.b == color.name %}
                                        <div class="custom-control custom-radio">
                                            <input class="form-check-input" type="radio" id="{{ color.name }}b" name="color_b" value="{{ color.name }}" checked="checked">
                                            <label for="{{ color.name }}b">{{ color.emoji }} {{ color.name }}</label>
                                        </div>
                                    {% else %}
                                        <div class="custom-control custom-radio">
                                            <input class="form-check-input" type="radio" id="{{ color.name }}b" name="color_b" value="{{ color.name }}">
                                            <label for="{{ color.name }}b">{{ color.emoji }} {{ color.name }}</label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- Color C -->
                    <div class="col-md-3 col-xs-6">
                        <div class="form-group">
                            <h6 id="colorC">Color C</h6>
                            {% for color in templates.colors %}
                                {% if color.sku <= 7 %}
                                    {% if recent.c == color.name %}
                                        <div class="custom-control custom-radio">
                                            <input class="form-check-input" type="radio" id="{{ color.name }}c" name="color_c" value="{{ color.name }}" checked="checked">
                                            <label for="{{ color.name }}c">{{ color.emoji }} {{ color.name }}</label>
                                        </div>
                                    {% else %}
                                        <div class="custom-control custom-radio">
                                            <input class="form-check-input" type="radio" id="{{ color.name }}c" name="color_c" value="{{ color.name }}">
                                            <label for="{{ color.name }}c">{{ color.emoji }} {{ color.name }}</label>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <!-- <div class="custom-control custom-radio">
                                <input class="form-check-input" type="radio" id="nocolor" name="color_c" value="None"> -->
                                <!-- <img src="/static/ban-solid.svg" width="21em"> -->
                                <!-- <label for="nocolor">🚫 none</label>
                            </div> -->
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <!-- Size -->
                        <div class="form-group">
                            <h6>Size</h6>
                            <!-- <label for="size">Size</label> -->
                            {% for size in templates.sizes %}
                                {% if recent.size == size.shortname %}
                                    <div class="custom-control custom-radio">
                                        <input class="form-check-input" type="radio" id="{{ size.longname }}" name="size" value="{{ size.shortname }}" checked="checked">
                                        <label for="{{ size.longname }}">{{ size.longname }}</label>
                                    </div>
                                {% else %}
                                    <div class="custom-control custom-radio">
                                        <input class="form-check-input" type="radio" id="{{ size.longname }}" name="size" value="{{ size.shortname }}">
                                        <label for="{{ size.longname }}">{{ size.longname }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                            <!-- Quantity -->
                        <div class="form-group">
                            <!-- <h6>Quantity</h6> -->
                            <label for="qty">Quantity</label>
                            <input class="form-control" type="number" value="1" min="-999" max="999" step="1" name="qty" id="qty">    
                        </div>
                        <div class="form-check">
                            {% if recent.deplete == 'false' %}
                                <input class="form-check-input" type="checkbox" value="true" id="deplete" name="deplete">                
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="true" id="deplete" name="deplete" checked>
                            {% endif %}
                            <label class="form-check-label" for="deplete">
                                <small>
                                    Deplete parts inventory
                                </small>
                            </label>
                        </div>
                        <br>
                        <div>
                            <button type="reset" class="btn btn-sm btn-primary btn-block">Reset</button>
                            <button type="reset" class="btn btn-sm btn-primary btn-block" value="Clear" name="reset" onclick="return resetForm(this.form);">Clear</button>
                            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                        </div>                          
                        <br>
                    </div>
                </div>
                
                <!-- Submit -->
                <!-- <div class="row">                    
                    <div class="col-md-6 col-sm-0">
                    </div>
                    <div class="col-md-6 col-sm-12"> -->
                        <!-- Skip Depletion -->
                        <!-- <br>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>                            
                        <br>
                    </div> -->
                </div>                            
            </form>
        </div>
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col">
            <h2>Items Queue</h2>
            <p>
                <a href='items#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/items#navbartop'>return to top</a>
            </p>
            <table class="table table-sm table-dark table-hover">
                <thead>
                    <tr>
                        <td style="width:25%">name</td>
                        <td style="width:10%">size</td>
                        <td style="width:10%">a</td>
                        <td style="width:10%">b</td>
                        <td style="width:10%">c</td>
                        <td style="width:10%">qty</td>
                        <td style="width:10%">+/-</td>
                        <td style="width:15%"></td>
                    </tr>    
                </thead>
                    <tbody>
                        {% for item in queue %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.size }}</td>
                                <td>{{ item.a_color }}</td>
                                <td>{{ item.b_color }}</td>
                                {% if item.c_color is not none %}
                                    <td>{{ item.c_color }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ item.qty }}</td>
                                <form action="/items" method="POST">
                                    <input type="hidden" name="item" id="item" value="{{ item.name }}">
                                    <input type="hidden" name="size" id="size" value="{{ item.size }}">
                                    <input type="hidden" name="color_a" id="{{ item.a_color }}a" value="{{ item.a_color }}">
                                    <input type="hidden" name="color_b" id="{{ item.b_color }}b" value="{{ item.b_color }}">
                                    {% if item.c_color is not none %}
                                        <input type="hidden" name="color_c" id="{{ item.c_color }}c" value="{{ item.c_color }}">
                                    {% else %}
                                        <input type="hidden" name="color_c" id="{{ item.c_color }}c" value="">
                                    {% endif %}

                                    <td>
                                        <input class="form-control form-control-sm" type="number" step="1" name="qty" id="qty">                                    
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-block btn-primary">Make</button>
                                        <div class="form-check">
                                            <small>
                                                {% if recent.deplete == 'false' %}
                                                    <input class="form-check-input" type="checkbox" value="true" id="deplete" name="deplete">                
                                                {% else %}
                                                    <input class="form-check-input" type="checkbox" value="true" id="deplete" name="deplete" checked>
                                                {% endif %}
                                                    <label class="form-check-label" for="deplete">Deplete</label>
                                            </small>
                                        </div>
                                    </td>
                                </form>
                            </tr>    
                        {% endfor %}
                    </tbody>
            </table>
            <p>
                <a href='items#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/items#navbartop'>return to top</a>
            </p>
        </div>
    </div>



    <div class="row">
        <!-- Items on Hand -->
        <div class="col">
            <h2>Items Inventory</h2>
            <!-- <p>
                <a href='items#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/items#navbartop'>return to top</a>
            </p> -->
            <table class="table table-sm table-dark table-hover">
                <thead>
                    <tr>
                        <td style="width:25%">name</td>
                        <td style="width:10%">size</td>
                        <td style="width:10%">a</td>
                        <td style="width:10%">b</td>
                        <td style="width:10%">c</td>
                        <td style="width:10%">qty</td>
                        <td style="width:10%">+/-</td>
                        <td style="width:15%"></td>
                    </tr>    
                </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.size }}</td>
                                <td>{{ item.a_color }}</td>
                                <td>{{ item.b_color }}</td>
                                {% if item.c_color is not none %}
                                    <td>{{ item.c_color }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ item.qty }}</td>
                                <form action="/items" method="POST">
                                    <input type="hidden" name="item" id="item" value="{{ item.name }}">
                                    <input type="hidden" name="size" id="size" value="{{ item.size }}">
                                    <input type="hidden" name="color_a" id="{{ item.a_color }}a" value="{{ item.a_color }}">
                                    <input type="hidden" name="color_b" id="{{ item.b_color }}b" value="{{ item.b_color }}">
                                    {% if item.c_color is not none %}
                                        <input type="hidden" name="color_c" id="{{ item.c_color }}c" value="{{ item.c_color }}">
                                    {% else %}
                                        <input type="hidden" name="color_c" id="{{ item.c_color }}c" value="">
                                    {% endif %}
                                        <td>
                                        <input class="form-control form-control-sm" type="number" step="1" name="qty" id="qty">                                    
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-block btn-primary">Adjust</button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
            <p>
                <a href='items#navbartop'><img src='static/arrow-circle-up-solid.svg' width="35rem"></a> <a href='/items#navbartop'>return to top</a>
            </p>
        </div>
        <hr>
    </div>
</container>

<script type="text/javascript">
    const templateData = '{{ templates|tojson }}'
</script>

<script src="./static/loterias.js" defer></script>

{% endblock %}
