{% extends "layout.html" %}

{% block title %}
Items
{% endblock %}
{% block main %}
<container class="text-monospace">
    <div class="row">
        <div class="col">
            <h1 class="display-2" style="text-transform: capitalize">{{ cur_color.emoji }} {{ cur_color.name }}</h1>
        </div>
    </div>

    <!-- Subnavigation -->
    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <!-- <li class="list-inline-item">
                    <a class="dropdown-item" href="/parts/black">Black</a>
                </li> -->

                {% for color in templates.colors %}
                    {% if color.sku <= 7 %}
                        <li class="list-inline-item">
                            <a style="text-transform: capitalize" class="" href="/parts/{{ color.name }}">{{ color.emoji }} {{ color.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li>
                    
                </li>
                <li class="list-inline-item">
                    <a class="" href="/parts/backs">🍑 Backs</a>
                </li>
                <li class="list-inline-item">
                    <a class="" href="/parts/boxes">📦 Boxes</a>
                </li>
            </ul>
            <hr>
        </div>
    </div>


    <div class="row align-items-start">
        <div class="col-md-5 col-sm-12">
            <br>
            <form action="/parts/post" method="post">
                <div class="row">
                    <div class="col">
                        <h3 style="text-transform: capitalize;">Make {{ cur_color.emoji }} {{ cur_color.name }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="part">Part</label>
                            {% if cur_color.name == 'backs' %}
                                <select class="form-control" name="part" id="part">
                                    {% for loteria in templates.loterias %}
                                        {% if recent.part == loteria.backs %}
                                            <option value="{{ loteria.backs }}" selected>{{ loteria.backs }}</option>
                                        {% else %}
                                            <option value="{{ loteria.backs }}">{{ loteria.backs }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select class="form-control" name="part" id="part">
                                    {% for loteria in templates.loterias %}
                                        <optgroup label="{{ loteria.nombre }}">
                                            {% if recent.part == loteria.a %}
                                                <option value="{{ loteria.a }}" selected>{{ loteria.a }}</option>
                                            {% else %}
                                                <option value="{{ loteria.a }}">{{ loteria.a }}</option>
                                            {% endif %}

                                            {% if recent.part == loteria.b %}
                                                <option selected value="{{ loteria.b }}">{{ loteria.b }}</option>
                                            {% else %}
                                                <option value="{{ loteria.b }}">{{ loteria.b }}</option>
                                            {% endif %}

                                            {% if loteria.c != '' %}
                                                {% if recent.part == loteria.c %}
                                                    <option selected value="{{ loteria.c }}">{{ loteria.c }}</option>
                                                {% else %}
                                                    <option value="{{ loteria.c }}">{{ loteria.c }}</option>
                                                {% endif %}
                                            {% endif %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        </div>
                    </div>
                </div>                    
                    
                <div class="row">
                    
                    <!-- Hidden input for color -->
                    <input type="hidden" id="color" name="color" value="{{ cur_color.name }}">

                    <div class="col">
                        <!-- Size -->
                        <div class="form-group">
                            <!-- <h4>Size</h4> -->
                            <label for="size">Size</label>
                            {% for size in templates.sizes %}
                                {% if recent.size == size.shortname %}
                                    <div class="custom-control custom-radio">
                                        <input checked="checked" class="form-check-input" type="radio" id="{{ size.longname }}" name="size" value="{{ size.shortname }}">
                                        <label for="{{ size.longname }}">{{ size.longname }}</label>
                                    </div>
                                {% else %}
                                    <div class="custom-control custom-radio">
                                        <input class="form-check-input" type="radio" id="{{ size.longname }}" name="size" value="{{ size.shortname }}">
                                        <label for="{{ size.longname }}">{{ size.longname }}</label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col">
                        <!-- Quantity -->
                        <div class="form-group">
                            <!-- <h4>Quantity</h4> -->
                            <label for="qty">Quantity</label>
                            <input class="form-control" type="number" value="1" min="-999" max="999" step="1" name="qty" id="qty">
                        </div>

                        <button type="reset" class="btn btn-primary btn-block">Reset</button>
                        <br>              
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block">Make Part</button>
                        <small id="" class="form-text text-muted">
                            Moves Part from Laser Queue to Parts Inventory
                        </small>    
                    </div>
                </div>
            </form>

            <br>
            <hr>

            <br>
            <h4 style="text-transform: capitalize">{{ cur_color.name }} Parts Inventory</h4>
            <table class="table table-sm table-hover table-dark">
                <thead>
                    <tr>
                        <th scope="col">
                            name
                        </th>
                        <th scope="col">
                            size
                        </th>
                        <th scope="col">
                            #
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for part in inventory %}
                        <tr>
                            <form>
                                <div class="">
                                    <td>
                                        {{ part.name }}
                                    </td>
                                    <td>
                                        {{ part.size }}
                                    </td>
                                    <td>
                                        {{ part.qty}}
                                    </td>
                                </div>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
<!-- 
        <div class="col-lg-1 col-md-1 col-sm-0">
        </div> -->

        <div class="col-md-7 col-sm-12">
            <br>
            <h3 style="text-transform: capitalize;">{{ cur_color.emoji }} {{ cur_color.name }} Part Queue</h3>

            {% for size in templates.sizes %}
            <br>
            <table class="table table-sm table-hover table-dark">
                    <thead>
                        <tr>
                            <h4>
                                {{ cur_color.emoji }} {{ size.longname }}
                            </h4>
                        </tr>
                    </thead>

                    <tbody>
                        {% for production in productions %}
                            {% if production.size==size.shortname %}
                                <tr>
                                    <form action="/parts/post" method="POST">
                                        <div class="">
                                            <td>
                                                {{ production.name }}
                                            </td>
                                            <td>
                                                {{ production.qty}}
                                            </td>
                                            <input type="hidden" name="part" id="part" value="{{ production.name }}">
                                            <input type="hidden" name="color" id="color" value="{{ cur_color.name }}">
                                            <input type="hidden" name="size" id="size" value="{{ size.shortname }}">
                                            <td style="width:20%">
                                                <input class="form-control form-control-sm" type="number" step="1" name="qty" id="qty">                                    
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-sm btn-block btn-primary">Make</button>
                                            </td>
                                        </div>
                                    </form>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor%}
        </div>    
    </div>
    <br>
</container>
{% endblock %}
