{% extends "layout.html" %}

{% block title %}
Projections
{% endblock %}
{% block main %}
<container class="text-monospace">
    <div class="row">
        <div class="col">
            <h1>{{ current[0].name }} Projections</h1>
        </div>
    </div>    
    <hr>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- Cycle Choice -->
            <form action="/admin/cycle" method="post">
                <div class="form-group">
                    <h2>Change Event</h2>
                    <br>
                    <label for="cycle">Event</label>
                    <select name="cycle" id="cycle">
                        <option value="{{ current[0].id }}" title=" Created on: {{ current[0].created_on }}">{{ current[0].name }}</option>
                        {% for cycle in cycles %}
                            <option value="{{ cycle.id }}" title="Created on: {{ cycle.created_on }}" Created on: {{ current[0].created_on }}">{{ cycle.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary btn-large">Update Event</button>
                    <small id="" class="form-text text-muted">
                        Changes cycle and rebuilds laser queue
                    </small>    
                </div>
            </form>
            <br>
        </div>
        <div class="col-md-6 col-sm-12">
            <p>After items are added to the event's target production, the laser queue is built with the following steps:</p>
            <ol>
                <li>Total a given event's target production</li>
                <li>Subtract items in inventory</li>
                <li>Determine parts needed for remaining total</li>
                <li>Subtract parts in inventory</li>
                <li>Storing remaining totals into laser queue</li>
                <li>Also add corresponding backs and boxes</li>
            </ol>
        </div>
    </div>
    <hr>
    <!-- Add Item to Projections -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col">
                    <h4>Add Item to {{ current[0].name }}</h4>
                </div>
            </div>
            <form action="/projections" method="post">
                <div class="row">

                    <!-- Item -->
                    <div class="col-6">
                        <div class="form-group">
                            <label for="item">Item</label>
                            <select name="item" id="item">
                                {% for loteria in loterias %}                                    
                                    <option value="{{ loteria['nombre'] }}" title="{{ loteria['a'] }}, {{ loteria['b'] }}{% if not loteria['c'] %}{% else %}, {{ loteria['c']}}{% endif %}">{{ loteria['nombre'] }}</option>
                                {% endfor %}
                            </select>
                        </div>    
                    </div>

                    <!-- Size -->
                    <div class="col-6">
                        <div class="form-group">
                        <label for="size">Size</label>
                        {% for size in sizes %}
                            <input type="radio" id="{{ size }}" name="size" value="{{ size }}">
                            <label for="{{ size }}">{{ size }}</label>
                        {% endfor %}
                        </div>
                    </div>

                </div>

                <!-- Colors -->
                <div class="row">

                    <!-- Color A -->
                    <div class="col-md-4 col-sm-6">
                        <h6>Color A</h6>
                        <div class="form-group">
                            {% for color in colors %}
                                <div class=" justify-content-center">
                                    <input type="radio" id="{{ color }}a" name="Color A" value="{{ color }}">
                                    <label for="{{ color }}a">{{ color }}</label>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Color B -->
                    <div class="col-md-4 col-sm-6">
                        <h6>Color B</h6>
                        <div class="form-group">
                            {% for color in colors %}
                                <div class=" justify-content-center">
                                    <input type="radio" id="{{ color }}b" name="Color B" value="{{ color }}">
                                    <label for="{{ color }}b">{{ color }}</label>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Color C -->
                    <div class="col-md-4 col-sm-6">
                        <h6>Color C</h6>
                        <div class="form-group">
                            {% for color in colors %}
                                <div class=" justify-content-center">
                                    <input type="radio" id="{{ color }}c" name="Color C" value="{{ color }}">
                                    <label for="{{ color }}c">{{ color }}</label>    
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- Final Buttons -->
                <div class="row">

                    <!-- Quantity -->
                    <div clas="col">
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input type="number" value="1" min="-999" max="999" step="1" name="qty" id="qty">
                        </div>
                    </div>

                    <!-- Reset -->
                    <div class="col">
                        <button type="reset" class="btn btn-primary">Reset</button>                        
                    </div>

                    <!-- Submit -->
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>                            
                    </div>

                </div>                            

            </form>
        </div>
        <hr>

        <!-- View Current Projections -->
        <div class="col-md-6 col-sm-12">
            <h4>{{ current[0].name }} Target Production</h4>
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <td>nombre</td>
                        <td>size</td>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                        <td>qty</td>
                    </tr>    
                </thead>
                    <tbody>
                        {% for projection in projections %}
                            <tr>
                                <td>{{ projection.name }}</td>
                                <td>{{ projection.size }}</td>
                                <td>{{ projection.a_color }}</td>
                                <td>{{ projection.b_color }}</td>
                                {% if projection.c_color is not none %}
                                    <td>{{ projection.c_color }}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ projection.qty }}</td>
                            </tr>    
                        {% endfor %}
                    </tbody>
            </table>
        </div>
        <hr>
    </div>
</container>
{% endblock %}
